@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 

h1 {
    text-align: center;
    font-family: "VT323", sans-serif;
}
h2{
    text-align: center;
    font-family: "VT323", sans-serif;

}

.devat{
    width: 25%;
    position: absolute;
    top: 37%;
    left: 37%;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 9s linear infinite;
    -moz-animation:spin 9s linear infinite;
    animation:spin 9s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.song{

    width: 300;
    height: 100;
    position: absolute;
    left: 37%;
}
